player-connection-mode=Listen
player-connection-guid=2254317916
player-connection-debug=0
player-connection-project-name=Mave
player-connection-ip=25.0.168.74
player-connection-ip=192.168.233.1
player-connection-ip=192.168.199.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e59b23607bf246ee8281f7974ec7da2b
