player-connection-mode=Listen
player-connection-guid=2593424533
player-connection-debug=0
player-connection-project-name=Mave
player-connection-ip=25.0.168.74
player-connection-ip=192.168.233.1
player-connection-ip=192.168.199.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7756443574434afbbcd9b3ca3da8b747
